[MASTER]
ignore=.venv
jobs=0
extension-pkg-allow-list=PySide6

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods (часто мешает в dataclass/Qt)
    R0913,  # too-many-arguments
    W0703   # broad-exception-caught (в GUI иногда допустимо)

[FORMAT]
max-line-length=88

[DESIGN]
max-attributes=12